.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;

    background-image: url('https://s1.1zoom.me/big3/793/Library_Book_532388_1920x1080.jpg');
}

.banner-container {
    text-align: center;
    padding: 15% 0;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
}

.banner p {
    font-size: 30px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}